{% extends 'base.html.twig' %}
{% block title %}
      {{ title }}
{% endblock %}

{# comment #}
{% block body %}
<h1>{{ title }}</h1>
<div>Inhalt</div>

<h2>Comments ({{ comments|length  }})</h2>
<ul>
   {% for comment in comments %}
      <li>{{ comment }}</li>
   {% endfor %}
</ul>

      Like Number: <span class="js-like-article-count">5</span>
      <a href="#" class="js-like-article">I Like</a>
{% endblock %}

{% block javascripts %}
      {{ parent() }}
      <script src="{{ asset('js/article_show.js') }}"></script>
{% endblock %}
